Repository F5Networks/f5-azure-arm-templates-v2: changes, and which GitLab CI jobs are due for each by the changed paths.
All: azure_access_module_test_job, azure_network_module_test_job, azure_application_module_test_job, azure_dag_module_test_job, azure_function_module_test_job, azure_bigip_autoscale_module_test_job, azure_bigip_standalone_module_test_job, azure_autoscale_example_test_job, azure_quickstart_example_test_job

Path conditions:
  azure_access_module_test_job: any of: automated-test-scripts/data/f5-azure-arm-templates-v2/examples/modules/access/*, automated-test-scripts/f5-azure-arm-templates-v2/examples/modules/access/*, examples/modules/access/access.json
  azure_network_module_test_job: any of: automated-test-scripts/data/f5-azure-arm-templates-v2/examples/modules/network/*, automated-test-scripts/f5-azure-arm-templates-v2/examples/modules/network/*, examples/modules/network/network.json
  azure_application_module_test_job: any of: automated-test-scripts/data/f5-azure-arm-templates-v2/examples/modules/application/*, automated-test-scripts/f5-azure-arm-templates-v2/examples/modules/application/*, examples/modules/application/application.json
  azure_dag_module_test_job: any of: automated-test-scripts/data/f5-azure-arm-templates-v2/examples/modules/dag/*, automated-test-scripts/f5-azure-arm-templates-v2/examples/modules/dag/*, examples/modules/dag/dag.json
  azure_function_module_test_job: any of: automated-test-scripts/data/f5-azure-arm-templates-v2/examples/modules/function/*, automated-test-scripts/f5-azure-arm-templates-v2/examples/modules/function/*, examples/modules/function/function.json
  azure_bigip_autoscale_module_test_job: any of: automated-test-scripts/data/f5-azure-arm-templates-v2/examples/modules/bigip-autoscale/*, automated-test-scripts/f5-azure-arm-templates-v2/examples/modules/bigip-autoscale/*, examples/modules/bigip-autoscale/bigip.json
  azure_bigip_standalone_module_test_job: any of: automated-test-scripts/data/f5-azure-arm-templates-v2/examples/modules/bigip-standalone/*, automated-test-scripts/f5-azure-arm-templates-v2/examples/modules/bigip-standalone/*, examples/modules/bigip-standalone/bigip.json
  azure_autoscale_example_test_job: any of: automated-test-scripts/data/f5-azure-arm-templates-v2/examples/autoscale/*, automated-test-scripts/f5-azure-arm-templates-v2/examples/autoscale/*, examples/autoscale/bigiq/azuredeploy.json, examples/autoscale/payg/azuredeploy.json
  azure_quickstart_example_test_job: any of: automated-test-scripts/data/f5-azure-arm-templates-v2/examples/quickstart/*, automated-test-scripts/f5-azure-arm-templates-v2/examples/quickstart/*, examples/quickstart/azuredeploy.json

update as3 hashes
  examples/autoscale/bigip-configurations/runtime-init-conf-bigiq.yaml
  examples/autoscale/bigip-configurations/runtime-init-conf-payg.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-payg.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-payg.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-payg.yaml
Due: none

ESECLDTPLT-1849/ESECLDTPLT-2865 - Example Failover Cluster - Create README.md/Finish tests
  .gitlab-ci.yml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/failover/byol/postpub_parameters.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/failover/byol/postpub_parameters1.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/failover/byol/postpub_parameters2.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/failover/byol/prepub_parameters.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/failover/byol/prepub_parameters1.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/failover/byol/prepub_parameters2.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/failover/payg/postpub_parameters.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/failover/payg/postpub_parameters1.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/failover/payg/postpub_parameters2.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/failover/payg/prepub_parameters.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/failover/payg/prepub_parameters1.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/failover/payg/prepub_parameters2.yaml
  automated-test-scripts/f5-azure-arm-templates-v2/examples/failover/capture_logs.sh
  automated-test-scripts/f5-azure-arm-templates-v2/examples/failover/daily_test.yaml
  automated-test-scripts/f5-azure-arm-templates-v2/examples/failover/tests/shutdown_active.sh
  automated-test-scripts/f5-azure-arm-templates-v2/examples/failover/tests/start_active.sh
  automated-test-scripts/f5-azure-arm-templates-v2/examples/failover/tests/verify_active_standby.sh
  automated-test-scripts/f5-azure-arm-templates-v2/examples/failover/tests/verify_application.sh
  automated-test-scripts/f5-azure-arm-templates-v2/examples/failover/tests/verify_failover.sh
  automated-test-scripts/f5-azure-arm-templates-v2/examples/failover/tests/verify_login.sh
  automated-test-scripts/f5-azure-arm-templates-v2/examples/failover/tests/verify_outputs.sh
  automated-test-scripts/f5-azure-arm-templates-v2/examples/failover/tests/verify_shutdown_active.sh
  automated-test-scripts/f5-azure-arm-templates-v2/examples/failover/tests/verify_start_active.sh
  automated-test-scripts/f5-azure-arm-templates-v2/examples/failover/tests/verify_sync.sh
  automated-test-scripts/outputs_diff_expected.yaml
  automated-test-scripts/parameters_diff_expected.yaml
  examples/failover/README.md
  examples/failover/azuredeploy.json
  examples/failover/azuredeploy.parameters.json
  examples/failover/byol/README.md
  examples/failover/byol/azuredeploy.json
  examples/failover/byol/azuredeploy.parameters.json
  examples/failover/payg/README.md
Due: none

ESECLDTPLT-2915 - Function template fixes
  .gitlab-ci.yml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/autoscale/full/prepub_parameters1.yaml
  automated-test-scripts/data/test_policies/shimkus.yaml
  automated-test-scripts/f5-azure-arm-templates-v2/examples/autoscale/create_deployment.sh
  automated-test-scripts/f5-azure-arm-templates-v2/examples/autoscale/tests/update_model.sh
  automated-test-scripts/f5-azure-arm-templates-v2/examples/modules/function/daily_test.yaml
  automated-test-scripts/f5-azure-arm-templates-v2/examples/modules/function/tests/verify_function_app_settings.sh
  automated-test-scripts/f5-azure-arm-templates-v2/examples/modules/function/tests/verify_keyvault_secret.sh
  automated-test-scripts/f5-azure-arm-templates-v2/examples/modules/function/tests/verify_role_assignment.sh
  examples/autoscale/bigiq/azuredeploy.json
  examples/modules/function/function.json
Due: azure_function_module_test_job, azure_autoscale_example_test_job

ESECLDTPLT-2755 - Existing Stack Example Parent Template (Autoscale BIGIQ)
  .gitlab-ci.yml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/autoscale/existing/postpub_parameters1.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/autoscale/existing/prepub_parameters3.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/autoscale/existing/prepub_parameters4.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/autoscale/existing/prepub_parameters5.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/autoscale/test_policy_existing.yaml
  automated-test-scripts/data/test_policies/shimkus.yaml
  automated-test-scripts/f5-azure-arm-templates-v2/examples/autoscale/create_deployment_existing_stack.sh
  automated-test-scripts/outputs_diff_expected.yaml
  automated-test-scripts/parameters_diff_expected.yaml
  examples/autoscale/bigip-configurations/Rapid_Depolyment_Policy_13_1.xml
  examples/autoscale/bigiq/README.md
  examples/autoscale/bigiq/azuredeploy-existing-network.json
  examples/autoscale/bigiq/azuredeploy-existing-network.parameters.json
  examples/autoscale/payg/README.md
  examples/failover/README.md
Due: azure_autoscale_example_test_job

Fix: Update quickstart to fix typo in variable name
  examples/quickstart/azuredeploy.json
Due: azure_quickstart_example_test_job

ESECLDTPLT-2923 - updated ci/cd, smart:init
  .gitlab-ci.yml
  Makefile
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/autoscale/test_policy_existing.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/autoscale/test_policy_full.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/failover/test_policy.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/modules/access/test_policy.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/modules/application/test_policy.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/modules/bastion/test_policy.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/modules/bigip-autoscale/test_policy.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/modules/bigip-standalone/test_policy.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/modules/dag/test_policy.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/modules/function/test_policy.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/modules/network/test_policy.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/modules/telemetry/test_policy.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/quickstart/test_policy.yaml
  automated-test-scripts/data/test_policies/shimkus.yaml
Due: azure_access_module_test_job, azure_network_module_test_job, azure_application_module_test_job, azure_dag_module_test_job, azure_function_module_test_job, azure_bigip_autoscale_module_test_job, azure_bigip_standalone_module_test_job, azure_autoscale_example_test_job, azure_quickstart_example_test_job

ESECLDTPLT-2931 - Failover Runtime-Init Cleanup
  .gitlab-ci.yml
  automated-test-scripts/data/test_policies/shimkus.yaml
  automated-test-scripts/f5-azure-arm-templates-v2/examples/autoscale/create_deployment.sh
  automated-test-scripts/f5-azure-arm-templates-v2/examples/autoscale/create_deployment_existing_stack.sh
  automated-test-scripts/f5-azure-arm-templates-v2/examples/failover/create_deployment.sh
  automated-test-scripts/f5-azure-arm-templates-v2/examples/failover/create_deployment_existing_stack.sh
  automated-test-scripts/f5-azure-arm-templates-v2/examples/quickstart/create_deployment.sh
  automated-test-scripts/f5-azure-arm-templates-v2/examples/quickstart/create_deployment_existing_stack.sh
  examples/autoscale/bigip-configurations/runtime-init-conf-bigiq-with-app.yaml
  examples/autoscale/bigip-configurations/runtime-init-conf-payg-with-app.yaml
  examples/autoscale/bigiq/README.md
  examples/autoscale/payg/README.md
  examples/failover/README.md
  examples/failover/azuredeploy-existing-network.json
  examples/failover/azuredeploy-existing-network.parameters.json
  examples/failover/azuredeploy.json
  examples/failover/azuredeploy.parameters.json
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance02.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance02.yaml
  examples/quickstart/README.md
  examples/quickstart/azuredeploy.json
  examples/quickstart/azuredeploy.parameters.json
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-byol-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-payg-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-byol-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-payg-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-byol-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-payg-with-app.yaml
Due: azure_autoscale_example_test_job, azure_quickstart_example_test_job

Policy fix
  automated-test-scripts/data/test_policies/shimkus.yaml
  examples/autoscale/bigip-configurations/runtime-init-conf-bigiq-with-app.yaml
  examples/autoscale/bigip-configurations/runtime-init-conf-bigiq.yaml
  examples/autoscale/bigip-configurations/runtime-init-conf-payg-with-app.yaml
  examples/autoscale/bigip-configurations/runtime-init-conf-payg.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance02.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance02.yaml
  examples/quickstart/azuredeploy.json
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-byol-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-payg-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-payg.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-byol-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-payg-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-payg.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-byol-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-payg-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-payg.yaml
Due: azure_quickstart_example_test_job

updating version note and copyright year
  README.md
  examples/quickstart/README.md
Due: none

ESECLDTPLT-2974 - Parameterize Cluster Peer Addr
  Makefile
  examples/autoscale/bigiq/README.md
  examples/autoscale/bigiq/azuredeploy-existing-network.json
  examples/autoscale/bigiq/azuredeploy-existing-network.parameters.json
  examples/autoscale/bigiq/azuredeploy.json
  examples/autoscale/bigiq/azuredeploy.parameters.json
  examples/autoscale/payg/README.md
  examples/autoscale/payg/azuredeploy-existing-network.json
  examples/autoscale/payg/azuredeploy-existing-network.parameters.json
  examples/autoscale/payg/azuredeploy.json
  examples/autoscale/payg/azuredeploy.parameters.json
  examples/failover/README.md
  examples/failover/azuredeploy-existing-network.json
  examples/failover/azuredeploy-existing-network.parameters.json
  examples/failover/azuredeploy.json
  examples/failover/azuredeploy.parameters.json
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance02.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance02.yaml
  examples/failover/diagram.png
  examples/modules/bigip-autoscale/bigip.json
  examples/modules/bigip-autoscale/bigip.parameters.json
  examples/modules/bigip-standalone/README.md
  examples/modules/bigip-standalone/bigip.json
  examples/modules/bigip-standalone/bigip.parameters.json
  examples/modules/bigip-standalone/sample_linked.json
  examples/quickstart/README.md
  examples/quickstart/azuredeploy-existing-network.json
  examples/quickstart/azuredeploy-existing-network.parameters.json
  examples/quickstart/azuredeploy.json
  examples/quickstart/azuredeploy.parameters.json
Due: azure_bigip_autoscale_module_test_job, azure_bigip_standalone_module_test_job, azure_autoscale_example_test_job, azure_quickstart_example_test_job

Fixes for ESECLDTPLT-2969
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/quickstart/byol/existing/parameters.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/quickstart/byol/existing/prepub_parameters3.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/quickstart/byol/full/parameters.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/quickstart/payg/existing/parameters.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/quickstart/payg/full/parameters.yaml
  automated-test-scripts/f5-azure-arm-templates-v2/examples/autoscale/create_deployment.sh
  automated-test-scripts/f5-azure-arm-templates-v2/examples/autoscale/create_deployment_existing_stack.sh
  automated-test-scripts/f5-azure-arm-templates-v2/examples/quickstart/create_deployment.sh
  automated-test-scripts/f5-azure-arm-templates-v2/examples/quickstart/create_deployment_existing_stack.sh
  examples/autoscale/bigip-configurations/runtime-init-conf-bigiq-with-app.yaml
  examples/autoscale/bigip-configurations/runtime-init-conf-bigiq.yaml
  examples/autoscale/bigip-configurations/runtime-init-conf-payg-with-app.yaml
  examples/autoscale/bigip-configurations/runtime-init-conf-payg.yaml
  examples/autoscale/bigiq/README.md
  examples/autoscale/payg/README.md
  examples/images/README.md
  examples/modules/bigip-autoscale/README.md
  examples/modules/bigip-standalone/README.md
  examples/quickstart/README.md
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-byol-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-payg-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-payg.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-byol-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-payg-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-payg.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-byol-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-payg-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-payg.yaml
Due: azure_autoscale_example_test_job, azure_quickstart_example_test_job

ESECLDTPLT-2224
  examples/autoscale/bigiq/README.md
  examples/autoscale/payg/README.md
  examples/failover/README.md
  examples/failover/diagram.drawio
  examples/failover/diagram.png
  examples/quickstart/README.md
Due: none

ESECLDTPLT-3004 - [TEMPLATES 2.0][Failover] - BIG-IP Address Consistency
  automated-test-scripts/data/test_policies/shimkus.yaml
  automated-test-scripts/f5-azure-arm-templates-v2/examples/failover/create_deployment.sh
  automated-test-scripts/f5-azure-arm-templates-v2/examples/failover/create_deployment_existing_stack.sh
  examples/failover/README.md
  examples/failover/azuredeploy-existing-network.json
  examples/failover/azuredeploy-existing-network.parameters.json
  examples/failover/azuredeploy.json
  examples/failover/azuredeploy.parameters.json
Due: none

Fixes for ESECLDTPLT-2990
  automated-test-scripts/data/test_policies/khanna.yaml
  automated-test-scripts/f5-azure-arm-templates-v2/examples/failover/create_deployment.sh
  automated-test-scripts/f5-azure-arm-templates-v2/examples/failover/create_deployment_existing_stack.sh
  automated-test-scripts/f5-azure-arm-templates-v2/examples/modules/bigip-autoscale/tests/verify_vmss_resource.sh
  automated-test-scripts/f5-azure-arm-templates-v2/examples/modules/bigip-standalone/tests/verify_vm_resource.sh
  automated-test-scripts/f5-azure-arm-templates-v2/examples/quickstart/create_deployment.sh
  automated-test-scripts/f5-azure-arm-templates-v2/examples/quickstart/create_deployment_existing_stack.sh
  examples/autoscale/bigiq/README.md
  examples/autoscale/payg/README.md
  examples/failover/README.md
  examples/failover/azuredeploy-existing-network.json
  examples/failover/azuredeploy-existing-network.parameters.json
  examples/failover/azuredeploy.json
  examples/failover/azuredeploy.parameters.json
  examples/modules/bigip-autoscale/bigip.json
  examples/modules/bigip-standalone/bigip.json
  examples/quickstart/README.md
  examples/quickstart/azuredeploy-existing-network.json
  examples/quickstart/azuredeploy-existing-network.parameters.json
  examples/quickstart/azuredeploy.json
  examples/quickstart/azuredeploy.parameters.json
Due: azure_bigip_autoscale_module_test_job, azure_bigip_standalone_module_test_job, azure_quickstart_example_test_job

ESECLDTPLT-3057 - Remove hardcoded values in runtime init
  automated-test-scripts/data/test_policies/shimkus.yaml
  examples/autoscale/bigip-configurations/runtime-init-conf-bigiq-with-app.yaml
  examples/autoscale/bigip-configurations/runtime-init-conf-bigiq.yaml
  examples/autoscale/bigip-configurations/runtime-init-conf-payg-with-app.yaml
  examples/autoscale/bigip-configurations/runtime-init-conf-payg.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance02.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance02.yaml
  examples/quickstart/bigip-configurations/Rapid_Depolyment_Policy_13_1.xml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-byol-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-payg-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-payg.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-byol-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-payg-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-payg.yaml
Due: none

ESECLDTPLT-3060 - quickstart user
  .gitlab-ci.yml
  automated-test-scripts/data/test_policies/shimkus.yaml
  automated-test-scripts/f5-azure-arm-templates-v2/examples/quickstart/capture_logs.sh
  automated-test-scripts/f5-azure-arm-templates-v2/examples/quickstart/tests/verify_login.sh
  examples/quickstart/README.md
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-byol-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-payg-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-payg.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-byol-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-payg-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-payg.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-byol-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-payg-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-payg.yaml
Due: azure_quickstart_example_test_job

ESECLDTPLT-2955
  README.md
  examples/README.md
  examples/autoscale/bigiq/README.md
  examples/autoscale/payg/README.md
  examples/failover/README.md
  examples/images/README.md
  examples/modules/access/README.md
  examples/modules/application/README.md
  examples/modules/bastion/README.md
  examples/modules/bigip-autoscale/README.md
  examples/modules/bigip-standalone/README.md
  examples/modules/dag/README.md
  examples/modules/function/README.md
  examples/modules/network/README.md
  examples/modules/telemetry/README.md
  examples/quickstart/README.md
Due: none

Linky fix
  examples/modules/bigip-autoscale/README.md
  examples/modules/bigip-standalone/README.md
Due: none

R22-1-1 - Merge main to develop
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/autoscale/bigiq/existing/parameters.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/autoscale/test_policy_existing.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/autoscale/test_policy_full.yaml
  examples/autoscale/bigip-configurations/Rapid_Depolyment_Policy_13_1.xml
  examples/autoscale/bigiq/README.md
  examples/autoscale/payg/README.md
  examples/failover/README.md
  examples/modules/bigip-autoscale/README.md
  examples/modules/bigip-standalone/README.md
  examples/quickstart/README.md
  examples/quickstart/bigip-configurations/Rapid_Depolyment_Policy_13_1.xml
Due: azure_autoscale_example_test_job

ESECLDTPLT-3063 - Functional test enhancements
  .gitlab-ci.yml
Due: none
