Repository F5Networks/f5-azure-arm-templates-v2: changes, and which GitLab CI jobs are due for each by the changed paths.
All: azure_access_module_test_job, azure_network_module_test_job, azure_application_module_test_job, azure_dag_module_test_job, azure_function_module_test_job, azure_bigip_autoscale_module_test_job, azure_bigip_standalone_module_test_job, azure_autoscale_example_test_job, azure_quickstart_example_test_job

Path conditions:
  azure_access_module_test_job: any of: automated-test-scripts/data/f5-azure-arm-templates-v2/examples/modules/access/*, automated-test-scripts/f5-azure-arm-templates-v2/examples/modules/access/*, examples/modules/access/access.json
  azure_network_module_test_job: any of: automated-test-scripts/data/f5-azure-arm-templates-v2/examples/modules/network/*, automated-test-scripts/f5-azure-arm-templates-v2/examples/modules/network/*, examples/modules/network/network.json
  azure_application_module_test_job: any of: automated-test-scripts/data/f5-azure-arm-templates-v2/examples/modules/application/*, automated-test-scripts/f5-azure-arm-templates-v2/examples/modules/application/*, examples/modules/application/application.json
  azure_dag_module_test_job: any of: automated-test-scripts/data/f5-azure-arm-templates-v2/examples/modules/dag/*, automated-test-scripts/f5-azure-arm-templates-v2/examples/modules/dag/*, examples/modules/dag/dag.json
  azure_function_module_test_job: any of: automated-test-scripts/data/f5-azure-arm-templates-v2/examples/modules/function/*, automated-test-scripts/f5-azure-arm-templates-v2/examples/modules/function/*, examples/modules/function/function.json
  azure_bigip_autoscale_module_test_job: any of: automated-test-scripts/data/f5-azure-arm-templates-v2/examples/modules/bigip-autoscale/*, automated-test-scripts/f5-azure-arm-templates-v2/examples/modules/bigip-autoscale/*, examples/modules/bigip-autoscale/bigip.json
  azure_bigip_standalone_module_test_job: any of: automated-test-scripts/data/f5-azure-arm-templates-v2/examples/modules/bigip-standalone/*, automated-test-scripts/f5-azure-arm-templates-v2/examples/modules/bigip-standalone/*, examples/modules/bigip-standalone/bigip.json
  azure_autoscale_example_test_job: any of: automated-test-scripts/data/f5-azure-arm-templates-v2/examples/autoscale/*, automated-test-scripts/f5-azure-arm-templates-v2/examples/autoscale/*, examples/autoscale/bigiq/azuredeploy.json, examples/autoscale/payg/azuredeploy.json
  azure_quickstart_example_test_job: any of: automated-test-scripts/data/f5-azure-arm-templates-v2/examples/quickstart/*, automated-test-scripts/f5-azure-arm-templates-v2/examples/quickstart/*, examples/quickstart/azuredeploy.json

update publish job
  .gitlab-ci.yml
Due: none

Update publish job
  .gitlab-ci.yml
Due: none

Update cloud tools
  .gitlab-ci.yml
Due: none

Ci fix
  .gitlab-ci.yml
Due: none

Update Autoscale READMEs to include new createWorkspace parameter
  examples/autoscale/bigiq/README.md
  examples/autoscale/bigiq/azuredeploy.json
  examples/autoscale/bigiq/azuredeploy.parameters.json
  examples/autoscale/payg/README.md
  examples/autoscale/payg/azuredeploy.json
  examples/autoscale/payg/azuredeploy.parameters.json
Due: azure_autoscale_example_test_job

R21 5 1 0
  .gitlab-ci.yml
Due: none

update test parm
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/autoscale/postpub_parameters.yaml
Due: azure_autoscale_example_test_job

update parameter file
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/autoscale/postpub_parameters.yaml
  examples/modules/telemetry/sample_linked.json
  examples/modules/telemetry/telemetry.json
  examples/modules/telemetry/telemetry.parameters.json
Due: azure_autoscale_example_test_job

ESECLDTPLT-2598 - Expose rolling upgrade, public IP provisioning parameters (Autoscale)
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/autoscale/parameters.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/autoscale/postpub_parameters.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/autoscale/postpub_parameters1.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/autoscale/postpub_parameters2.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/autoscale/prepub_parameters.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/autoscale/prepub_parameters1.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/autoscale/prepub_parameters2.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/modules/bigip-autoscale/postpub_parameters.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/modules/bigip-autoscale/postpub_parameters1.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/modules/bigip-autoscale/postpub_parameters2.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/modules/bigip-autoscale/postpub_parameters3.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/modules/bigip-autoscale/postpub_parameters4.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/modules/bigip-autoscale/postpub_parameters5.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/modules/bigip-autoscale/postpub_parameters6.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/modules/bigip-autoscale/prepub_parameters.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/modules/bigip-autoscale/prepub_parameters1.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/modules/bigip-autoscale/prepub_parameters2.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/modules/bigip-autoscale/prepub_parameters3.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/modules/bigip-autoscale/prepub_parameters4.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/modules/bigip-autoscale/prepub_parameters5.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/modules/bigip-autoscale/prepub_parameters6.yaml
  automated-test-scripts/f5-azure-arm-templates-v2/examples/autoscale/create_deployment.sh
  automated-test-scripts/f5-azure-arm-templates-v2/examples/modules/bigip-autoscale/create_deployment.sh
  automated-test-scripts/f5-azure-arm-templates-v2/examples/modules/bigip-autoscale/tests/verify_vmss_resource.sh
  examples/autoscale/bigiq/README.md
  examples/autoscale/bigiq/azuredeploy.json
  examples/autoscale/bigiq/azuredeploy.parameters.json
  examples/autoscale/payg/README.md
  examples/autoscale/payg/azuredeploy.json
  examples/autoscale/payg/azuredeploy.parameters.json
  examples/modules/bigip-autoscale/README.md
  examples/modules/bigip-autoscale/bigip.json
  examples/modules/bigip-autoscale/bigip.parameters.json
  examples/modules/bigip-autoscale/sample_linked.json
Due: azure_bigip_autoscale_module_test_job, azure_autoscale_example_test_job

ESECLDTPLT-2637: Create test which use default parameters
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/autoscale/parameters.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/autoscale/postpub_parameters.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/autoscale/postpub_parameters1.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/autoscale/postpub_parameters2.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/autoscale/prepub_parameters.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/autoscale/prepub_parameters1.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/autoscale/prepub_parameters2.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/autoscale/test_policy.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/quickstart/byol/parameters.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/quickstart/byol/postpub_parameters.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/quickstart/byol/postpub_parameters1.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/quickstart/byol/postpub_parameters2.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/quickstart/byol/prepub_parameters.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/quickstart/byol/prepub_parameters1.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/quickstart/byol/prepub_parameters2.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/quickstart/payg/parameters.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/quickstart/payg/postpub_parameters.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/quickstart/payg/prepub_parameters.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/quickstart/payg/prepub_parameters1.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/quickstart/payg/prepub_parameters2.yaml
  automated-test-scripts/data/test_policies/ak_test.yaml
  automated-test-scripts/data/test_policies/post_release_test.yaml
  automated-test-scripts/f5-azure-arm-templates-v2/examples/autoscale/create_deployment.sh
  automated-test-scripts/f5-azure-arm-templates-v2/examples/autoscale/defaults_test.yaml
  automated-test-scripts/f5-azure-arm-templates-v2/examples/quickstart/create_deployment.sh
  automated-test-scripts/f5-azure-arm-templates-v2/examples/quickstart/defaults_test.yaml
Due: azure_autoscale_example_test_job, azure_quickstart_example_test_job

ESECLDTPLT-2629: Quickstart and Parent Template namespacing
  automated-test-scripts/data/test_policies/ak_test.yaml
  automated-test-scripts/f5-azure-arm-templates-v2/examples/quickstart/capture_logs.sh
  automated-test-scripts/f5-azure-arm-templates-v2/examples/quickstart/tests/verify_login.sh
  automated-test-scripts/f5-azure-arm-templates-v2/examples/quickstart/tests/verify_outputs.sh
  automated-test-scripts/f5-azure-arm-templates-v2/examples/quickstart/tests/verify_waf_blocking.sh
  examples/autoscale/bigiq/README.md
  examples/autoscale/bigiq/azuredeploy.json
  examples/autoscale/payg/README.md
  examples/autoscale/payg/azuredeploy.json
  examples/modules/bigip-autoscale/sample_linked.json
  examples/modules/bigip-standalone/sample_linked.json
  examples/quickstart/README.md
  examples/quickstart/azuredeploy.json
Due: azure_autoscale_example_test_job, azure_quickstart_example_test_job

Esecldtplt 2674 - add v8 bigiq support to test template
  automated-test-scripts/Makefile
  automated-test-scripts/data/test_policies/all.yaml
  automated-test-scripts/f5-azure-arm-templates-v2/common/azure-bigiq-standalone-2.0.json
  automated-test-scripts/f5-azure-arm-templates-v2/common/azure-environment-2.0.json
  automated-test-scripts/f5-azure-arm-templates-v2/common/bigiq_config.base64
  automated-test-scripts/f5-azure-arm-templates-v2/common/bigiq_config.py
  automated-test-scripts/f5-azure-arm-templates-v2/examples/autoscale/create_deployment.sh
  automated-test-scripts/f5-azure-arm-templates-v2/examples/autoscale/create_environment.sh
  automated-test-scripts/f5-azure-arm-templates-v2/examples/autoscale/tests/update_model.sh
  automated-test-scripts/f5-azure-arm-templates-v2/examples/autoscale/tests/verify_license.sh
  automated-test-scripts/f5-azure-arm-templates-v2/examples/modules/function/create_deployment.sh
  examples/autoscale/bigip-configurations/runtime-init-conf-bigiq.yaml
Due: azure_function_module_test_job, azure_autoscale_example_test_job

ESECLDTPLT-2651 - Automate MRs to staging branch
  .gitlab-ci.yml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/modules/function/prepub_parameters.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/modules/function/prepub_parameters1.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/modules/function/prepub_parameters2.yaml
Due: azure_function_module_test_job

enable CI/CD job for syncing metadata; update templates and config
  .gitlab-ci.yml
  examples/autoscale/bigip-configurations/runtime-init-conf-bigiq.yaml
  examples/autoscale/bigip-configurations/runtime-init-conf-payg.yaml
  examples/autoscale/bigiq/azuredeploy.json
  examples/autoscale/bigiq/azuredeploy.parameters.json
  examples/autoscale/payg/azuredeploy.json
  examples/autoscale/payg/azuredeploy.parameters.json
  examples/modules/bigip-autoscale/bigip.json
  examples/modules/bigip-autoscale/bigip.parameters.json
  examples/modules/bigip-standalone/bigip.json
  examples/modules/bigip-standalone/bigip.parameters.json
  examples/quickstart/azuredeploy.json
  examples/quickstart/azuredeploy.parameters.json
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-payg.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-payg.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-payg.yaml
Due: azure_bigip_autoscale_module_test_job, azure_bigip_standalone_module_test_job, azure_autoscale_example_test_job, azure_quickstart_example_test_job

ESECLDTPLT-2600 - Automate Example Parameter Files
  Makefile
  examples/autoscale/bigiq/azuredeploy.parameters.json
  examples/autoscale/payg/azuredeploy.parameters.json
  examples/modules/access/access.parameters.json
  examples/modules/application/application.parameters.json
  examples/modules/bigip-autoscale/bigip.parameters.json
  examples/modules/bigip-standalone/bigip.parameters.json
  examples/modules/dag/dag.parameters.json
  examples/modules/function/function.parameters.json
  examples/modules/network/network.parameters.json
  examples/modules/telemetry/telemetry.parameters.json
  examples/quickstart/azuredeploy.parameters.json
Due: none

ESECLDTPLT-2692: Update quickstart parent template to remove azure user from outputs
  automated-test-scripts/data/test_policies/ak_test.yaml
  automated-test-scripts/f5-azure-arm-templates-v2/examples/quickstart/tests/verify_outputs.sh
  examples/autoscale/bigip-configurations/runtime-init-conf-bigiq.yaml
  examples/autoscale/bigip-configurations/runtime-init-conf-payg.yaml
  examples/quickstart/README.md
  examples/quickstart/azuredeploy.json
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-payg.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-payg.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-payg.yaml
Due: azure_quickstart_example_test_job

ESECLDTPLT-2671 - Add loadDistribution property to DAG template
  Makefile
  automated-test-scripts/data/test_policies/shimkus.yaml
  examples/autoscale/bigip-configurations/runtime-init-conf-bigiq.yaml
  examples/autoscale/bigip-configurations/runtime-init-conf-payg.yaml
  examples/modules/dag/dag.json
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-payg.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-payg.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-payg.yaml
Due: azure_dag_module_test_job

ESECLDTPLT-2643/ESECLDTPLT-2691 - [GitHub][TPLT2.0][DOCS] Upgrading autoscaling instances from 15.1 -> 16.0.1 fails, README cleanup
  examples/autoscale/bigiq/README.md
  examples/autoscale/payg/README.md
  examples/quickstart/README.md
Due: none

ESECLDTPLT-2623 - Fix Azure linter errors
  .gitlab-ci.yml
  automated-test-scripts/data/test_policies/shimkus.yaml
  examples/autoscale/bigiq/azuredeploy.json
  examples/autoscale/payg/azuredeploy.json
  examples/modules/access/access.json
  examples/modules/application/application.json
  examples/modules/bigip-autoscale/bigip.json
  examples/modules/bigip-standalone/bigip.json
  examples/modules/dag/dag.json
  examples/modules/function/function.json
  examples/modules/network/network.json
  examples/modules/telemetry/telemetry.json
  examples/quickstart/azuredeploy.json
Due: azure_access_module_test_job, azure_network_module_test_job, azure_application_module_test_job, azure_dag_module_test_job, azure_function_module_test_job, azure_bigip_autoscale_module_test_job, azure_bigip_standalone_module_test_job, azure_autoscale_example_test_job, azure_quickstart_example_test_job

ESECLDTPLT-2777 - Link checker
  .gitlab-ci.yml
  Makefile
Due: none

ESECLDTPLT-2811 Doc updates
  SUPPORT.md
  examples/README.md
  examples/autoscale/bigiq/README.md
  examples/autoscale/payg/README.md
  examples/quickstart/README.md
Due: none

update func test
  automated-test-scripts/f5-azure-arm-templates-v2/examples/autoscale/create_deployment.sh
Due: azure_autoscale_example_test_job

update
  Makefile
Due: none

Main to develop
  automated-test-scripts/data/test_policies/shimkus.yaml
Due: none

ESECLDTPLT-2805: Report CST2.0 template usage via RunTime-Init
  .gitlab-ci.yml
  automated-test-scripts/f5-azure-arm-templates-v2/examples/autoscale/daily_test.yaml
  automated-test-scripts/f5-azure-arm-templates-v2/examples/autoscale/tests/verify_runtimeinit_install_params.sh
  automated-test-scripts/f5-azure-arm-templates-v2/examples/quickstart/daily_test.yaml
  automated-test-scripts/f5-azure-arm-templates-v2/examples/quickstart/tests/verify_runtimeinit_install_params.sh
  examples/modules/bigip-autoscale/bigip.json
  examples/modules/bigip-standalone/bigip.json
Due: azure_bigip_autoscale_module_test_job, azure_bigip_standalone_module_test_job, azure_autoscale_example_test_job, azure_quickstart_example_test_job

[Support Role]: Fix verify_runtimeinit_install_params test
  automated-test-scripts/f5-azure-arm-templates-v2/examples/autoscale/tests/verify_runtimeinit_install_params.sh
  examples/autoscale/bigip-configurations/runtime-init-conf-bigiq.yaml
  examples/autoscale/bigip-configurations/runtime-init-conf-payg.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-payg.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-payg.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-payg.yaml
Due: none
